<div class="container-fluid foot-sign-up">
  <div class="overlay"></div>
  <div class="content container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h4>Sign Up Now</h4>
        <p>Sign up for more promotion</p>
        <a class="btn btn-default btn-yellow" href="#" role="button">Sign Up</a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid foot-info">
  <div class="copyright">
    <p>Copyright&copy;2018</p>
  </div>
</div>
